body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  margin: 0;

  /* background-color: hsl(240, 45%, 10%); */
  background: radial-gradient(hsl(229, 25%, 20%), transparent 10%),
    hsl(240, 45%, 9%);
  background-position: 0% 0%;
  background-size: 7vmin 7vmin;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: hsl(240, 76%, 87%);
}

.chat-container {
  display: flex;
  flex-direction: column;
  max-height: 80vh;
  min-height: 200px;
  max-width: 900px;
  width: 80%;
  padding: 20px;
  border-radius: 15px;

  background-color: hsl(240, 38%, 13%);
  border: 2.5px solid hsl(237, 22%, 34%);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.chat-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
}

#chat-messages {
  flex-grow: 1;
  width: 100%;
  min-height: 100px;
  margin-bottom: 20px;
  overflow-y: auto;
}

#chat-form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

#user-input {
  flex-grow: 1;
  min-width: 70px;
  border-radius: 5px;
  margin-left: 5px;
  padding: 10px;
  border: 0px;
  background-color: hsl(240, 39%, 80%);
  color: hsl(240, 25%, 25%);
}

#user-input:focus {
  outline: none;
  box-shadow: inset 0px 0px 16px 2px hsla(245, 90%, 15%, 0.28);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

#submitBtn {
  background-color: hsl(240, 45%, 55%);
  color: hsl(240, 76%, 90%);

  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  margin-left: 10px;
  margin-right: 5px;
  cursor: pointer;
  transition: transform ease-out 0.2s, background-color 0.16s ease-in;
}

#submitBtn:hover {
  transform: scale(1.03);
  background-color: hsl(240, 50%, 55%);
}

.message {
  display: inline-block;
  max-width: 70%;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  overflow-wrap: break-word;
}

.user-message {
  background-color: hsl(240, 40%, 55%);
  color: hsl(240, 76%, 90%);
  float: right;
  clear: both;
}

.assistant-message {
  background-color: hsl(240, 40%, 80%);
  color: hsl(240, 30%, 25%);
  float: left;
  clear: both;
}

.message p {
  margin: 0px;
}
